@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-500-normal.woff2') format('woff2'),
    url('../fonts/inter-500-normal.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
