@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-800-normal.woff2') format('woff2'),
  url('../fonts/inter-800-normal.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
