@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-200-normal.woff2') format('woff2'),
  url('../fonts/inter-200-normal.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
