@use "scss/inter-100-normal";
@use "scss/inter-200-normal";
@use "scss/inter-300-normal";
@use "scss/inter-400-normal";
@use "scss/inter-500-normal";
@use "scss/inter-600-normal";
@use "scss/inter-700-normal";
@use "scss/inter-800-normal";
@use "scss/inter-900-normal";