@import "css/inter-100-normal.css";
@import "css/inter-200-normal.css";
@import "css/inter-300-normal.css";
@import "css/inter-400-normal.css";
@import "css/inter-500-normal.css";
@import "css/inter-600-normal.css";
@import "css/inter-700-normal.css";
@import "css/inter-800-normal.css";
@import "css/inter-900-normal.css";